.containerPagination{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    width: 100%;
    margin-left: 50px;
}
.buttonPagination{
    display: flex;
    align-items: center;
    /* border: 2px solid black; */
    padding: 5px;
    background-color: white;
    color:#112a49;
}
.currentPage{
    display: flex;
    background-color: #112a49;
    color:white;
    align-items: center;
    padding: 2px 10px 2px 10px;
}
.containerSearchBar{
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
    
}
.searchBar{
    width: 500px;
    border: 1px solid #112a49;
    border-radius: 2px;
    padding: 3px;
}
.searchBar:focus{
    border: 0px solid #112a49;
    border-radius: 2px;
}
.searchBarButton{
   
    border-radius: 4px;
    margin-left: 40px;
    padding: 5px;
    background-color: #8db42f;
    color: white;
    font-weight: 500;


}